










<!-- <h1>Lista de tareas</h1>
<div class="container">
  <div class="row">
    <div id="to_do" class="col">
      <div class="row">
        <h2>TO DO</h2>
      </div>
      <%@tasks.each do |task|%>
      <% if task.done == false%>
        <div id="<%=task.id%>" class="row">
          <p>

              <%=task.description%>

          </p>
        </div>
        <%end%>
      <%end%>
    </div>
    <div id="done" class="col">
        <div class="row">
          <h2>DONE</h2>
        </div>
        <%@tasks.each do |task|%>
        <% if task.done == true%>
          <div id="<%=task.id%>" class="row">
            <p>
              <%=task.description%>
            </p>
          </div>
          <%end%>
        <%end%>
    </div>
  </div>
</div>
<script type="text/javascript">
  tasksIndex()
</script> -->
